{% extends 'base.html.twig' %}



{% block content %}
    </div>
    <div class="hero-wrap hero-bread" style="background-image: url({{ asset('assets/images/bg-8.jpg') }});margin-top: -10px;">
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-center">
                <div class="col-md-9 ftco-animate text-center">
                    <p class="breadcrumbs"><span class="mr-2"><a href="  {{ path('home') }}">Home</a></span> <span>About</span></p>
                    <h1 class="mb-0 bread">A propos</h1>
                </div>
            </div>
        </div>
    </div>
    <!-- Three columns of text below the carousel -->
    <section class="ftco-section ftco-no-pb ftco-no-pt bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-5 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url({{ asset('assets/images/artisant.jpg') }});">
                    <!--<a href="{{ asset('assets/videos/Creation_d_un_bijoux.mp4') }}" class="icon popup-vimeo d-flex justify-content-center align-items-center">
                        <span class="icon-play"></span>
                    </a>-->
                </div>
                <div class="col-md-7 py-5 wrap-about pb-md-5 ftco-animate">
                    <div class="heading-section-bold mb-4 mt-md-5">
                        <div class="ml-md-0">
                            <h2 class="mb-4">L’Artisan Bijoutier</h2>
                        </div>
                    </div>
                    <div class="pb-md-5">
                        <p>Littéralement, l’artisan bijoutier est une personne capable d’assurer tous les stades de l’évolution d’un bijou : création, transformation, réparation et éventuellement commercialisation. L’artisan bijoutier est un professionnel (entreprise individuelle ou société) qui doit être inscrit au Registre des Métiers et au Registre du Commerce et des Sociétés (RCS) s’il vend les produits qu’il a créés. Pour cela, il dépose un dossier d’immatriculation d’entreprise auprès du Centre des Formalités des Entreprises (CFE) de la Chambre des Métiers et de l’Artisanat dont il dépend et qui est déterminée par les coordonnées de son siège social.

                            Les métiers de joaillier, bijoutier, gemmologue ont indéniablement des points communs et pourtant, chacun d’entre eux présente des caractéristiques essentielles qui les distingue.</p>
                    </div>
                </div>
            </div>
            <div class="row">

                        <div class="row ftco-services">
                            <div class="col-lg-6 text-center d-flex align-self-stretch ftco-animate">
                                <div class="media block-6 services">
                                    <div class="icon d-flex justify-content-center align-items-center mb-4">

                                    </div>
                                    <div class="media-body">
                                        <h3 class="heading">La gemmologie, l’association entre les “pierres gemmes” et l’art de la création</h3>
                                        <p style="text-align:left;">Les termes “pierres” et “gemmes” sont associés pour désigner l’ensemble des pierres précieuses, au-delà des quatre classiques qui sont le diamant, le rubis, l’émeraude et le saphir. Les pierres de qualité “gemme” sont toutes issues d’un minéral transparent et parfaitement pur, résistant aux rayures et peu sensible à l’érosion.

                                            Depuis qu’il est possible de reproduire du saphir et du rubis de façon industrielle, la gemmologie est devenue un art majeur, en charge de définir et de confirmer quelles sont les pierres nobles qui seront utilisées en joaillerie et haute joaillerie.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 text-center d-flex align-self-stretch ftco-animate">
                                <div class="media block-6 services">
                                    <div class="icon d-flex justify-content-center align-items-center mb-4">

                                    </div>
                                    <div class="media-body">
                                        <h3 class="heading">L’orfèvrerie, y-a-t’il un lien avec la bijouterie et la joaillerie ?</h3>
                                        <p style="text-align:left;">L’orfèvrerie peut être liée à la bijouterie et à la joaillerie. L’orfèvre travaille l’or, l’argent massif et éventuellement le métal argenté pour fabriquer différentes pièces principalement dédiées aux arts de la table, au culte et à tout ce qui touche à la décoration intérieure d’un lieu. L’orfèvre est un artiste qui exprime sa créativité à travers certaines techniques qui perdurent. Les pièces artistiques d’orfèvrerie ainsi réalisées sont les bienvenues dans la boutique d’un bijoutier, insérant de la diversité au milieu des bijoux.

                                        </p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>






    </div>





{% endblock %}